body {
  background-color: lightgrey;
}

h1 {
  color: lightyellow;
  text-align: left;
}

p {
  font-family: tahoma;
  font-size: 20px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: antiquewhite;
  height: 70%;

}
.formFields {
  margin: auto;
  width: 40%;
  padding: 10px;
  background-color: rgb(250, 247, 243);
display: inline-table;
}
.formFieldR {
  margin: auto;
  width: 40%;
  padding: 10px;
  background-color: rgb(250, 247, 243);
  border-radius: 1ch;
  display: inline-block;
}


textarea{
  border-color: #eee;
}



